body {
font-family: 'Courier New', Courier, monospace;
display: flex;
flex-direction: column;
margin: 0;
}

.header, .awesome{
padding:16px 200px;
}

.header {
display: flex;
justify-content: space-between;
background-color: #1F2937;
}

.header .right {
display: flex;
gap: 40px;
}

.logo {
font-size: 24px;
font-weight: bold;
color: #F9FAF8;
}

a {
font-size: 18px;
color: #E5E7EB;
text-decoration: none;
}

.awesome {
display: flex;
padding-top: 50px;
background-color: #1F2937;
justify-content: space-between;
}

.left {
width: 600px;
height: auto;
align-self: center;
}

h1 {
font-size: 48px;
color: #F9FAF8;
}


img {
    
width: 600px;
height: auto;
}

button {
width: 100px;
padding: 8px 25px;
text-align: center;
margin-top: 16px;
border-radius: 10px;
background-color: #3882F6;
font-weight: bold;
color: #F9FAF8;
border: none;
}

{
    border: 4px solid brown;
}